body {
    background-image: url("gentleman.png");
    background-repeat: no-repeat;
    background-position: right;
}


a {
    color: inherit;
    text-decoration: inherit;
    cursor: auto;
}

a:hover {
    color: inherit;
}

h5 {
    width: fit-content;
    block-size: fit-content
}

.dragging {
    opacity: .5;
}

.status {
    position: relative;
    margin: 5px;
    padding : 0px;
}

.status-header {
    text-align: center;
}

.close-container {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 1px;
}

.rename-input {
    max-width: 150px;
}

.delete-card {
    position:absolute;
    right: 5px;
}

.card {
    
}