section {
    background-image: url("gentleman.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}


a {
    color: inherit;
    text-decoration: inherit;
    cursor: auto;
}

a:hover {
    color: inherit;
}

h5 {
    width: fit-content;
    block-size: fit-content
}

.dragging {
    opacity: .5;
}

#plus {
    font-size: 30px;
    border: solid black;
    padding: 1px;
    height: 50px;
    box-shadow: 2px 2px 2px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.status {
    position: relative;
    margin: 5px;
    padding : 0;
}

.card-header {
    justify-content: space-between;
}


.status-header {
    text-align: center;
}

.close-container {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 1px;
}

.rename-input {
    max-width: 150px;
}

.delete-card {
    position:absolute;
    margin: 10px;
    right: 5px;
}

.card-text {
    margin: 10px;
}

.toggle-button-and-board-name{
    display: flex;
    flex-wrap: wrap;
}

.board-name{
    margin-left: 10px;
}

#create-public-board-button{
    margin-bottom: 10px;
}

#create-private-board-button{
    margin-bottom: 20px;
}